-- Today's date in SQL format
SET @today = '2025-05-28';
SET @today_giorno = 'mer';

-- ============= ORDERS BY PROFESSORS =============
-- 5 Ordini Classe made by professors (each has their own class)
INSERT INTO OrdineClasse (idResponsabile, data, nTurno, giorno, lastUpdate, confermato, oraRitiro, classe)
VALUES
-- Professor orders (all using turno n=2)
(6, @today, 2, @today_giorno, NOW(), true, '8:35:00', 131),   -- Mario Rossi, class 131
(7, @today, 2, @today_giorno, NOW(), true, '10:40:00', 132),   -- Giuseppe Bianchi, class 132
(8, @today, 2, @today_giorno, NOW(), true, '11:45:00', 133),   -- Andrea Verdi, class 133
(9, @today, 2, @today_giorno, NOW(), true, '11:50:00', 134),   -- Lucia Neri, class 134
(10, @today, 2, @today_giorno, NOW(), true, '16:55:00', 135);  -- Laura Gialli, class 135

-- Get the IDs of the inserted orders for professors
SET @prof_order_1 = LAST_INSERT_ID();
SET @prof_order_2 = @prof_order_1 + 1;
SET @prof_order_3 = @prof_order_1 + 2;
SET @prof_order_4 = @prof_order_1 + 3;
SET @prof_order_5 = @prof_order_1 + 4;

-- Create one OrdineSingolo for each professor's OrdineClasse
INSERT INTO OrdineSingolo (data, nTurno, giorno, confermato, lastUpdate, user, idOrdineClasse)
VALUES
(@today, 2, @today_giorno, true, NOW(), 6, @prof_order_1),
(@today, 2, @today_giorno, true, NOW(), 7, @prof_order_2),
(@today, 2, @today_giorno, true, NOW(), 8, @prof_order_3),
(@today, 2, @today_giorno, true, NOW(), 9, @prof_order_4),
(@today, 2, @today_giorno, true, NOW(), 10, @prof_order_5);

-- Get the IDs of the inserted individual orders for professors
SET @prof_single_order_1 = LAST_INSERT_ID();
SET @prof_single_order_2 = @prof_single_order_1 + 1;
SET @prof_single_order_3 = @prof_single_order_1 + 2;
SET @prof_single_order_4 = @prof_single_order_1 + 3;
SET @prof_single_order_5 = @prof_single_order_1 + 4;

-- Add DettagliOrdineSingolo for each professor's order (what products they ordered)
 -- Fanta

-- ============= ORDERS BY STUDENT CLASSES =============
-- 5 Ordini Classe for student classes (1A, 2A, 3A, 4A, 5A)
-- For student orders, use turno n=0 and n=1, alternating
-- For each class, we'll have 5 individual students ordering
-- Let's select student class representatives as responsabile
-- Note for student orders, oraRitiro is NULL

-- Student classes from the data: 1A=1, 2A=4, 3A=7, 4A=10, 5A=13
INSERT INTO OrdineClasse (idResponsabile, data, nTurno, giorno, lastUpdate, confermato, oraRitiro, classe)
VALUES
-- Student class orders (alternating between turno 0 and 1)
(131, @today, 0, @today_giorno, NOW(), true, NULL, 1),  -- 1A representative, class 1A
(129, @today, 1, @today_giorno, NOW(), true, NULL, 4),  -- 2A representative, class 2A
(127, @today, 0, @today_giorno, NOW(), true, NULL, 7),  -- 3A representative, class 3A
(125, @today, 1, @today_giorno, NOW(), true, NULL, 10), -- 4A representative, class 4A
(123, @today, 0, @today_giorno, NOW(), true, NULL, 13); -- 5A representative, class 5A

-- Get the IDs of the inserted orders for student classes
SET @class_order_1 = LAST_INSERT_ID();
SET @class_order_2 = @class_order_1 + 1;
SET @class_order_3 = @class_order_1 + 2;
SET @class_order_4 = @class_order_1 + 3;
SET @class_order_5 = @class_order_1 + 4;

-- For each student class, create 5 individual orders (OrdineSingolo)
-- Make sure to match the turno with the corresponding OrdineClasse
 -- Studente 5 5A

-- Get the first individual order ID for the student orders
SET @stud_single_order_start = LAST_INSERT_ID();

-- Add DettagliOrdineSingolo for each student's order
 -- Studente 5 5A: Yogurt alla frutta

-- Add QR codes for all orders
-- For professor orders (gestione 1 - order 1, 2, 4 and gestione 2 - order 3, 5)
INSERT INTO QrCode (token, idOrdineClasse, gestore, preparato)
VALUES
-- Gestione 1 (3 orders)
(MD5(CONCAT('order-', @prof_order_1)), @prof_order_1, 1, false),  -- Mario Rossi - not prepared
(MD5(CONCAT('order-', @prof_order_2)), @prof_order_2, 1, false),  -- Giuseppe Bianchi - not prepared
(MD5(CONCAT('order-', @prof_order_4)), @prof_order_4, 1, false),  -- Lucia Neri - not prepared

-- Gestione 2 (2 orders)
(MD5(CONCAT('order-', @prof_order_3)), @prof_order_3, 2, true),   -- Andrea Verdi - prepared
(MD5(CONCAT('order-', @prof_order_5)), @prof_order_5, 2, false);  -- Laura Gialli - not prepared

-- For student class orders
INSERT INTO QrCode (token, idOrdineClasse, gestore, preparato)
VALUES
-- Gestione 1 (3 classes)
(MD5(CONCAT('class-', @class_order_1)), @class_order_1, 1, false),  -- 1A - not prepared
(MD5(CONCAT('class-', @class_order_3)), @class_order_3, 1, false),  -- 3A - not prepared
(MD5(CONCAT('class-', @class_order_5)), @class_order_5, 1, true),   -- 5A - prepared

-- Gestione 2 (2 classes)
(MD5(CONCAT('class-', @class_order_2)), @class_order_2, 2, true),   -- 2A - prepared
(MD5(CONCAT('class-', @class_order_4)), @class_order_4, 2, false);  -- 4A - not prepared